.seleccionar__btn {
  background-color: #ff1c44;
  width: 224px;
  height: 48px;
  //   gap: 40px;
  padding: 14px 32px;
  gap: 0px;
  border: 2px solid #ff1c44;
  border-radius: 32px;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.4000000059604645px;
  text-align: center;
  text-decoration-skip-ink: none;
  color: #ffffff;
  font-family: var(--font-lato);

  &:hover {
    background-color: #ffffff;
    color: #ff1c44;
  }
}
