.plans__results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 928px;
    height: 687px;
    top: 632px;
    left: 216px;
    gap: 32px;
    opacity: 0px;
    margin-right: auto;
    margin-left: auto;
    @media (max-width: 768px){
      width: 384px;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
    }
  
  }