.container {
  display: flex;
  justify-content: center;
  background-color: #edeffc;
  height: 56px;
}

.container__stepper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 360px;
  height: 56px;
  padding: 16px 0;
  box-sizing: border-box;
}

.stepper__first,
.stepper__second{
  display: flex;
  gap: 16px;
}
