.container {
  display: flex;
  justify-content: center;
  background-color: #edeffc;
  height: 56px;
  @media (max-width: 768px) {
    display: none;
  }
}

.container__stepper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 360px;
  height: 56px;
  padding: 16px 0;
  box-sizing: border-box;
}

.stepper__first,
.stepper__second{
  display: flex;
  gap: 16px;
}

.stepper__second {
  color: #7981B2;
}

.stepper__mobile {
  display: none;
  @media (max-width: 768px) {
    display: flex;
    flex-direction: row;
  }
}