.app__content {
  position: relative;
  // overflow: hidden;
  &.with-footer {
    min-height: calc(100vh - 106px);
  }

  // Ajuste para cuando el Footer está ausente
  &.without-footer {
    min-height: calc(100vh);
    background-color: #fafbff;
    &::after,
    &::before {
      display: none;
    }
  }
}

.app__content::before,
.app__content::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50vw;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  pointer-events: none;
}

.app__content::before {
  left: 0;
  bottom: 0;
  background-image: url("./assets/left_blur.png");
  background-position: left center;

  @media (max-width: 768px) {
    background-image: url("./assets/left_blur_mobile.png");
    width: 256px;
    height: 640px;
    top: 488px;
  }
}

.app__content::after {
  right: 0;
  top: 0;
  background-image: url("./assets/right_blur.png");
  background-position: right center;

  @media (max-width: 768px) {
    background-image: url("./assets/right_blur_mobile.png");
    width: 352px;
    height: 304px;
  }
}
